.report-container {
  padding: 20px;
  font-family: sans-serif;
}

.export-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 10px;
  /* Added spacing between buttons */
  font-size: 16px;
}

.export-btn:hover {
  background-color: #0056b3;
}

.excel-btn {
  background-color: #28a745;
  /* Green color for Excel */
}

.excel-btn:hover {
  background-color: #218838;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-table th {
  background-color: #f2f2f2;
}